<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="../template/main.xhtml">

	<ui:define name="body">
		<h:form style="width:50%">
			<p:dataTable id="list" var="bean" value="#{rolListMB.model}"
				rows="#{rolListMB.pageSize}" paginator="true" paginatorPosition="bottom"
				lazy="true" dynamic="true">
				<f:facet name="header">Lista de Roles</f:facet>
				<p:column style="width:10%;" sortBy="#{bean.id}">
					<f:facet name="header">#{messages['rol.label.id']}</f:facet>
					<h:outputText value="#{bean.id}" />
				</p:column>
				<p:column sortBy="#{bean.descripcion}">
					<f:facet name="header">#{messages['rol.label.nombre']}</f:facet>
					<h:outputText value="#{bean.descripcion}" />
				</p:column>

			</p:dataTable>
			
			
		</h:form>
	</ui:define>
</ui:composition>