<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="../template/main.xhtml">

	<ui:define name="body">
		<h:form style="width: 50%"> 
		<p:confirmDialog message="#{messages['label.confirmar.eliminar']}"
						header="#{messages['label.dialogo.titulo.eliminar']}"
						severity="alert" widgetVar="eliminacion" width="295" height="80">
 
						<p:commandButton value="#{messages['boton.dialogo.si']}"
							action="#{usuarioListMB.eliminar}"
							actionListener="#{usuarioListMB.clear}" immediate="true"
							ajax="false" />
						<p:commandButton value="#{messages['boton.dialogo.no']}"
							onclick="PF('eliminacion').hide()" type="button" />
					</p:confirmDialog>
		<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton title="#{messages['boton.nuevo']}"
						value="#{messages['boton.nuevo']}"
						action="/admin/usuario_edit.jsf"
						actionListener="#{usuarioListMB.clear}" icon="ui-icon-plus"
						ajax="true" />
				</p:toolbarGroup>
			</p:toolbar>
			<p:dataTable id="list" var="bean" value="#{usuarioListMB.model}" 
				rows="#{usuarioListMB.pageSize}" paginator="true" paginatorPosition="bottom"
				lazy="true" dynamic="true">
				
				<f:facet name="header">Lista de Usuarios</f:facet>
				 
				<p:column style="width:10%;" sortBy="#{bean.id}">
					<f:facet name="header">#{messages['usuario.label.id']}</f:facet>
					<h:outputText value="#{bean.id}" />
				</p:column>
				
				<p:column sortBy="#{bean.username}">
					<f:facet name="header">Usuario</f:facet> 
						<h:outputText value="#{bean.username}" />
				</p:column>
				
				<p:column style="width:80px;">
				<p:commandButton title="#{messages['boton.eliminar']}" disabled="#{bean.id == 1}"
						onclick="PF('eliminacion').show()"
						actionListener="#{usuarioListMB.clear}" icon="ui-icon-trash"
						ajax="true">
						<f:param name="id" value="#{bean.id}" />
						<f:setPropertyActionListener value="#{bean}"
							target="#{usuarioListMB.usuario}" />
					</p:commandButton>				
					<p:commandButton title="#{messages['boton.editar']}" disabled="#{usuarioUtils.usuarioLogueado.id != 1 and bean.id == 1 }"
					 action="#{usuarioListMB.getNextView}" actionListener="#{usuarioListMB.clear}"
						image="ui-icon-pencil" ajax="false" >
						<f:param name="id" value="#{bean.id}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>