<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/template/main.xhtml">

	<ui:define name="body">
		<p:messages for="suceso" />
		<h:form id="form" prependId="false">
			<p:panel id="tb" header="#{messages['usuario.label']}"
				style="height:46px;">

				<f:facet name="actions" style="align:right;">
					<p:commandButton value="#{messages['boton.guardar']}"
						icon="ui-icon-disk"
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						action="#{rolUsuarioEditMB.insert()}"
						rendered="#{!rolUsuarioEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['boton.guardar']}"
						icon="ui-icon-disk"
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						action="#{rolUsuarioEditMB.update()}"
						rendered="#{rolUsuarioEditMB.updateMode}" ajax="false" />
					<p:commandButton value="#{messages['boton.eliminar']}"
						icon="ui-icon-trash"
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						onclick="confirmation.show()"
						rendered="#{rolUsuarioEditMB.updateMode}" type="button"
						immediate="true" ajax="false" />
					<p:commandButton value="#{messages['boton.volver']}"
						icon="ui-icon-back"
						styleClass="ui-panel-titlebar-icon ui-corner-all ui-state-default"
						onclick="location.href='/cancha/index.jsf'" type="button" />

					<p:confirmDialog message="#{messages['label.confirmar.eliminar']}"
						header="#{messages['label.dialogo.titulo.eliminar']}"
						severity="alert" widgetVar="confirmation" width="295" height="80">
						<p:commandButton value="#{messages['boton.dialogo.si']}"
							action="#{rolUsuarioEditMB.delete()}" immediate="true"
							ajax="false" />
						<p:commandButton value="#{messages['boton.dialogo.no']}"
							onclick="confirmation.hide()" type="button" />
					</p:confirmDialog>

				</f:facet>
			</p:panel>
			<br />
			<div align="left">
				<p:panel id="basic">
					<p:focus />
					<table>
						<tr>
							<td colspan="2"><p:panelGrid columns="2">

									<h:outputLabel value="#{messages['usuario.label.usuario']}" />
									<p:selectOneMenu converter="usuarioConverter" id="console"
										value="#{rolUsuarioEditMB.usuarioSeleccionado}"
										required="true"
										requiredMessage="#{messages['general.mensaje.requerido']}"
										filter="true" filterMatchMode="contains">
										<f:selectItem itemLabel="[Seleccionar]" itemValue="0" />
										<f:selectItems value="#{rolUsuarioEditMB.listaUsuarios}"
											var="usuario"
											itemLabel="#{usuario.username}"
											itemValue="#{usuario}" />
										<p:ajax listener="#{rolUsuarioEditMB.actualizarRols}"
											event="change" ></p:ajax>
									</p:selectOneMenu>
									<h:outputLabel value="#{messages['rol.label.rol']}" />
									<p:selectOneMenu converter="rolConverter" id="console2"
										value="#{rolUsuarioEditMB.rolSeleccionado}"
										required="true"
										requiredMessage="#{messages['general.mensaje.requerido']}"
										filter="true" filterMatchMode="contains">
										<f:selectItem itemLabel="[Seleccionar]" itemValue="0" />
										<f:selectItems value="#{rolUsuarioEditMB.listaRols}"
											var="rol"
											itemLabel="#{rol.descripcion}"
											itemValue="#{rol}" />
										<p:ajax listener="#{rolUsuarioEditMB.actualizarRols}"
											event="change" ></p:ajax>
									</p:selectOneMenu>
								</p:panelGrid></td>
						</tr>
					</table>
				</p:panel>
			</div>
		</h:form>
	</ui:define>
</ui:composition>