<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="../template/main.xhtml">

	<ui:define name="body">
		<h:form prependId="false">
			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton value="Guardar" action="#{usuarioEditMB.insert}"
						icon="ui-icon-disk"
						rendered="#{!usuarioEditMB.updateMode}" ajax="false" />
					<p:commandButton value="Guardar" action="#{usuarioEditMB.update}"
						icon="ui-icon-disk"
						rendered="#{usuarioEditMB.updateMode}" ajax="false" />
					
					<p:commandButton value="Volver" icon="ui-icon-arrowreturnthick-1-w"
						onclick="location.href='/cancha/admin/usuario_list.jsf'"
						type="button" />
				</p:toolbarGroup>
			</p:toolbar>
			<p:fieldset legend="Usuario">
				<p:focus for="username"></p:focus>
				<h:panelGrid id="fields" rows="8" columns= "3">
					
					<h:outputLabel value="#{messages['usuario.label.username']}: " for="username" styleClass="text-input" />
					<p:inputText id="username" value="#{usuarioEditMB.bean.username}" required="true" maxlength="30"
						title="#{messages['usuario.label.username']}" />
					<p:message for="username" display="default" />
					 
					 <h:outputText value="Cambiar contraseña?" rendered="#{usuarioEditMB.updateMode}" />
				        <p:inputSwitch value="#{usuarioEditMB.cambiarContraseña}" offLabel="No" onLabel="Si" 
				        rendered="#{usuarioEditMB.updateMode}">
				            <p:ajax update="clave" />
				        </p:inputSwitch>
					 
					 <p:inputText type="hidden" rendered="#{usuarioEditMB.updateMode}"></p:inputText>
					 
					<p:outputLabel value="Contraseña: "
							for="clave" styleClass="text-input" />
						<p:password id="clave" value="#{usuarioEditMB.bean.password}"
							maxlength="64" autocomplete="off" disabled="#{!usuarioEditMB.cambiarContraseña and usuarioEditMB.updateMode}"
							title="Contraseña" required="true"
							requiredMessage="Ingrese contraseña" />
						<p:message for="clave" />
					
					<p:outputLabel value="#{messages['rol.label.rol']}:" for="rol"/>
					<p:selectOneMenu converter="rolConverter" id="rol" disabled="#{usuarioEditMB.bean.id == 1}"
						value="#{usuarioEditMB.rolSeleccionado}"
						required="true"
						requiredMessage="#{messages['general.mensaje.requerido']}"
						filter="true" filterMatchMode="contains">
						<f:selectItem itemLabel="[Seleccionar]" itemValue="0" />
						<f:selectItems value="#{usuarioEditMB.listaRols}"
							var="rol"
							itemLabel="#{rol.descripcion}"
							itemValue="#{rol}" />
					</p:selectOneMenu>
					<p:message for="rol" />
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>