<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:view renderKitId="PRIMEFACES_MOBILE" />
	<h:head>
	</h:head>
	<h:body>
		<p:growl id="growl" showDetail="true" />

		<pm:page id="first">
			<ui:remove>
				<pm:header title="TabMenu" fixed="true">
					<p:tabMenu activeIndex="0">
						<p:menuitem value="Home" icon="ui-icon-home" url="#" 
							iconPos="bottom" />
						<p:menuitem value="Settings" icon="ui-icon-gear" url="#"
							iconPos="bottom" />
						<p:menuitem value="Search" icon="ui-icon-search" url="#"
							iconPos="bottom" />
					</p:tabMenu>
				</pm:header>
			</ui:remove>

			<pm:content>
				<h:form id="main">
					<p:growl id="messages" showDetail="true" />
					<h2>Cédula del paciente</h2>
					<p:inputText id="search" value="#{pacienteUtils.pacienteCedula}"
						type="search" placeholder="Ingrese cédula" />
					<p:commandButton value="Buscar" icon="search"
						action="#{pacienteUtils.buscarPacientePorCedula()}" update="growl" />
				</h:form>
			</pm:content>

			<ui:remove>
				<pm:footer title="Options" fixed="true">
					<p:tabMenu activeIndex="0">
						<p:menuitem value="Home" icon="ui-icon-home" url="#" iconPos="top" />
						<p:menuitem value="Settings" icon="ui-icon-gear" url="#"
							iconPos="top" />
						<p:menuitem value="Search" icon="ui-icon-search" url="#"
							iconPos="top" />
					</p:tabMenu>
				</pm:footer>
			</ui:remove>
		</pm:page>

	</h:body>

</ui:composition>