<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:view renderKitId="PRIMEFACES_MOBILE" />
		<pm:page id="first">
			<pm:header title="TabMenu" fixed="true">
				<p:tabMenu activeIndex="0">
					<p:menuitem value="Home" icon="ui-icon-home" url="#"
						iconPos="bottom" />
					<p:menuitem value="Settings" icon="ui-icon-gear" url="#"
						iconPos="bottom" />
					<p:menuitem value="Search" icon="ui-icon-search" url="#"
						iconPos="bottom" />
				</p:tabMenu>
			</pm:header>
		</pm:page>


</ui:composition>