<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:view renderKitId="PRIMEFACES_MOBILE" />
	<h:head>
	</h:head>
	<h:body>
		<pm:page id="first">
			<pm:header title="Vacuna Mobile" swatch="b">
				<p:button action="#{vacunaListMB.buscarOtroPaciente()}"
					value="Salir" icon="ui-icon-arrow-l"
					styleClass="ui-btn-left ui-btn-inline" />
			</pm:header>
			<p:outputPanel id="carDetail">
				<p:panelGrid columns="2" styleClass="ui-car-detail" style="padding: 12px">
					<f:facet name="header">
					Datos del Paciente
					</f:facet>

					<h:outputText value="Cedula:" />
					<h:outputText
						value="#{vacunaListMB.pacienteEnCuestion.id.idPart!=null ? vacunaListMB.pacienteEnCuestion.id.idPart : vacunaListMB.nada}" />

					<h:outputText value="Nombre:" />
					<h:outputText
						value="#{vacunaListMB.pacienteEnCuestion.name.size()>0 ? vacunaListMB.pacienteEnCuestion.name.get(0).nameAsSingleString : vacunaListMB.nada}" />

					<p:button outcome="pm:second?transition=flow"
						value="Datos Paciente" />
					<p:button outcome="pm:third?transition=flow"
						value="Lista de Vacunas" />

				</p:panelGrid>
			</p:outputPanel>
		</pm:page>

		<pm:page id="second">
			<pm:header title="Vacuna" swatch="b">
				<p:button outcome="pm:first" value="Atrás" icon="ui-icon-arrow-l"
					styleClass="ui-btn-left ui-btn-inline" />
			</pm:header>
			<pm:content>
				<h1>Paciente</h1>
			</pm:content>

			<p:panelGrid columns="2" styleClass="ui-car-detail" style="padding: 12px">
				<f:facet name="header">
						Datos del Paciente
					</f:facet>

				<h:outputText value="Cedula:" />
				<h:outputText
					value="#{vacunaListMB.pacienteEnCuestion.id.idPart!=null ? vacunaListMB.pacienteEnCuestion.id.idPart  : vacunaListMB.nada}" />

				<h:outputText value="Nombre:" />
				<h:outputText
					value="#{vacunaListMB.pacienteEnCuestion.name.size()>0 ? vacunaListMB.pacienteEnCuestion.name.get(0).nameAsSingleString : vacunaListMB.nada}" />

				<h:outputText value="Fecha de Nacimiento:" />
				<h:outputText
					value="#{vacunaListMB.pacienteEnCuestion.birthDate!=null ? vacunaListMB.formatFecha(vacunaListMB.pacienteEnCuestion.birthDate.value) : vacunaListMB.nada}" />

				<h:outputText value="Dirección:" />
				<h:outputText
					value="#{vacunaListMB.pacienteEnCuestion.addressElement.size()>0 ? vacunaListMB.pacienteEnCuestion.addressElement.get(0).lineFirstRep.valueAsString: vacunaListMB.nada}" />

				<h:outputText value="Departamento:" />
				<h:outputText
					value="#{vacunaListMB.pacienteEnCuestion.addressElement.size()>0 ? vacunaListMB.pacienteEnCuestion.addressElement.get(0).state.valueAsString: vacunaListMB.nada}" />
					
				<h:outputText value="Ciudad:" />
				<h:outputText
					value="#{vacunaListMB.pacienteEnCuestion.addressElement.size()>0 ? vacunaListMB.pacienteEnCuestion.addressElement.get(0).city.valueAsString : vacunaListMB.nada}" />

			</p:panelGrid>
		</pm:page>

		<pm:page id="third">
			<pm:header title="Lista de Vacunas" swatch="b">
				<p:button outcome="pm:first" value="Atrás" icon="ui-icon-arrow-l"
					styleClass="ui-btn-left ui-btn-inline" />
			</pm:header>
			<h:form>
				<p:toolbar id="toolbar">
					<f:facet name="left">
						<p:commandButton action="/vacuna_edit.xhtml?faces-redirect=true"
							value="Agregar" icon="ui-icon-plus" ajax="false" />
						<ui:remove>
							<p:commandButton type="button" value="Editar"
								icon="ui-icon-bullets" />
							<p:commandButton type="button" value="Delete"
								icon="ui-icon-minus" />
						</ui:remove>
					</f:facet>
				</p:toolbar>


				<pm:content>
					<h:outputText value="Paciente: " />
					<h:outputText
						value="#{vacunaListMB.pacienteEnCuestion.name.size()>0 ? vacunaListMB.pacienteEnCuestion.name.get(0).nameAsSingleString : vacunaListMB.nada}" />
						
					<p:dataTable var="vacuna" value="#{vacunaListMB.listaVacunas}"
						tableStyleClass="ui-table-columntoggle">
						<p:column headerText="Id" priority="1">
							<h:outputText
								value="#{vacuna.id!=null ? vacuna.id.idPart : vacunaListMB.nada}" />
						</p:column>

						<p:column headerText="Tipo de Vacuna" priority="1" colspan="1">
							<h:outputText
								value="#{vacuna.vaccineType != null ? vacuna.vaccineType.text.toString() : vacunaListMB.nada}" />
						</p:column>

						<p:column headerText="Fecha" priority="1">
							<h:outputText
								value="#{vacunaListMB.formatFecha(vacuna.date.value)}" />
						</p:column>

						<p:column headerText="Lote" priority="2">
							<h:outputText
								value="#{vacuna.lotNumber !=null ? vacuna.lotNumber.toString() : vacunaListMB.nada}" />
						</p:column>

						<p:column headerText="Dosis " priority="2">
							<h:outputText
								value="#{vacuna.doseQuantity!=null ? vacuna.doseQuantity.value.valueAsNumber : vacunaListMB.nada}" />
							<h:outputText
								value=" #{vacuna.doseQuantity!=null ? vacuna.doseQuantity.units.valueAsString : vacunaListMB.nada}" />
						</p:column>

					</p:dataTable>
				</pm:content>
			</h:form>

		</pm:page>

	</h:body>

</ui:composition>