<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:view renderKitId="PRIMEFACES_MOBILE" />
	<h:head>
	</h:head>
	<h:body>
		<h:form>
			<pm:page id="pageNuevaAplicacion">
				<pm:header title="Nueva Aplicación" swatch="b">
					<p:button outcome="pm:third" value="Atrás" icon="ui-icon-arrow-l"
						styleClass="ui-btn-left ui-btn-inline" />

					<p:commandButton outcome="pm:third" value="Guardar" icon="ui-icon-check"
						action="#{vacunaEditMB.insert}" ajax="false"
						styleClass="ui-btn-right ui-btn-inline" />
				</pm:header>

				<pm:content>
					<pm:field>
						<p:outputLabel for="fecha" value="Fecha Aplicación: " />
						<p:calendar id="fecha"
							value="#{vacunaEditMB.bean.fecha}"
							pattern="dd/MM/yyyy" />
					
						<p:outputLabel for="vaccineTipo" value="Tipo de Vacuna:" />
						<p:inputText id="vaccineTipo"
							value="#{vacunaEditMB.bean.tipoVacuna}" />

						<p:outputLabel for="fabricante" value="Laboratorio:" />
						<p:inputText id="fabricante"
							value="#{vacunaEditMB.bean.fabricante}" />

						<p:outputLabel for="nosocomio" value="Hospital/Sanatorio: " />
						<p:inputText id="nosocomio"
							value="#{vacunaEditMB.bean.hospitalNosocomio}" />

						<p:outputLabel for="loteNumber" value="Número de lote: " />
						<p:inputText id="loteNumber" type="number"
							value="#{vacunaEditMB.bean.loteNumero}" />

						<p:outputLabel for="fechaVenc" value="Fecha de Vencimiento: " />
						<p:calendar id="fechaVenc"
							value="#{vacunaEditMB.bean.fechaVencimiento}"
							pattern="dd/MM/yyyy" />


						<pm:field>
							<p:outputLabel for="selectOneSite" value="Brazo:" />
							<p:selectOneMenu id="selectOneSite"
								value="#{vacunaEditMB.bean.siteBrazo}">
								<f:selectItem itemLabel="Seleccione vía" itemValue="" />
								<f:selectItem itemLabel="LA - brazo izquierdo" itemValue="LA" />
								<f:selectItem itemLabel="RA - brazo derecho" itemValue="RA" />
							</p:selectOneMenu>
						</pm:field>

						<pm:field>
							<p:outputLabel for="selectOneRoute" value="Vía" />
							<p:selectOneMenu id="selectOneRoute"
								value="#{vacunaEditMB.bean.viaRoute}">
								<f:selectItem itemLabel="Seleccione vía" itemValue="" />
								<f:selectItem itemLabel="IM - Intramuscular" itemValue="IM" />
								<f:selectItem itemLabel="PO - oral" itemValue="PO" />
								<f:selectItem itemLabel="NASINHL - inhalación" itemValue="NASINHL" />
							</p:selectOneMenu>
						</pm:field>

						<p:outputLabel for="cantidadML"
							value="Cantidad Suministrada (en ml): " />
						<p:inputText id="cantidadML" type="number"
							value="#{vacunaEditMB.bean.cantidadML}" />

						<pm:field>
							<p:outputLabel for="booleanRechazo" value="Se realizó aplicación" />
							<p:selectBooleanCheckbox id="booleanRechazo"
								value="#{vacunaEditMB.rechazoVacuna}" immediate="true"
								itemLabel="No">
								<p:ajax update="formatsSelectPG"></p:ajax>
							</p:selectBooleanCheckbox>
						</pm:field>

						<h:panelGroup id="formatsSelectPG">
							<pm:field id="pmFieldRefusal"
								rendered="#{vacunaEditMB.rechazoVacuna}">
								<p:outputLabel for="observacionRefusal"
									value="Especifique motivo" />
								<p:inputTextarea id="observacionRefusal"
									value="#{vacunaEditMB.bean.observacionRechazo}"
									disabled="#{!vacunaEditMB.rechazoVacuna}" />
							</pm:field>
						</h:panelGroup>
					</pm:field>
				</pm:content>

			</pm:page>
		</h:form>
	</h:body>

</ui:composition>